.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: deeppink;
  position: absolute;
  right: 10px;
  bottom: 10px;
  box-shadow: 0px 0px 5px 1px deeppink;
  background-color: white;
  border-radius: 30px;
  &:hover {
    cursor: pointer;
  } 
}